<%= form_with(model: robot) do |form| %>
    <div class="field">
        <%= form.label :name %>
        <%= form.text_field :name %>
    </div>
    <br>
    <div class="field">
        <%= form.label :description %>
        <%= form.text_area :description %>
    </div>
    <br>
    <div class="field">
        <%= form.label :price %>
        <%= form.number_field :price, min:0 %>
    </div>

    <div class="field">
        <%= form.label :image %>
        <%= form.file_field :image, accept: 'image/png, image/jpg, image/jpeg' %>
        <%= image_tag(@robot.image) if @robot.image.attached?%>
    </div>

    <div class="field">
        <%= form.text_field :user_id, id: :robot_user_id, value:current_user.id, type: :hidden%>
    </div>

    <div class="actions">
        <%= form.submit %>
    </div>
<% end %>