<h1>Manage robots</h1>

<h2>current robots<h2>
<table>
 <tr>
   <th><%= link_to "Robot Name", :sort => "name"%> </th>
   <th><%= link_to "Price", :sort => "price"%> </th>
   <th>Image</th>
 </tr>
 <% @current_robots.each do |robot| %>
<tr>
     <td><%= link_to robot.name, robot_path(robot[:id]) %></td>
     <td>$<%= robot.price %></td>
     <td><%= image_tag(robot.image) if robot.image.attached? %></td>
   </tr> 
 <% end %>
</table>

<h2>sold robots<h2>
<table>
  <tr>
   <th><%= link_to "Robot Name", :sort => "name"%> </th>
   <th><%= link_to "Price", :sort => "price"%> </th>
   <th>Image</th>
 </tr>
  <% @sold_robots.each do |robot| %>
<tr>
     <td><%= link_to robot.name, robot_path(robot[:id]) %></td>
     <td>$<%= robot.price %></td>
     <td><%= image_tag(robot.image) if robot.image.attached? %></td>
   </tr> 
 <% end %>
</table>

 <h2>purchased robots<h2>
 <table>
  <tr>
   <th><%= link_to "Robot Name", :sort => "name"%> </th>
   <th><%= link_to "Price", :sort => "price"%> </th>
   <th>Image</th>
 </tr>
 
  <% @purchased_robots.each do |robot| %>
<tr>
     <td><%= link_to robot.name, robot_path(robot[:id]) %></td>
     <td>$<%= robot.price %></td>
     <td><%= image_tag(robot.image) if robot.image.attached? %></td>
   </tr> 
 <% end %>
 </table>