<h1>Profile</h1>

<% if @user.profile.attached?%>
  <%= image_tag(@user.profile) %>
<% else %>
  <%= image_tag "profile.jpg", alt: "default profile" %>
<% end %> 

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

 <%= link_to 'Edit Profile', edit_user_registration_path(@user) %>

